.label,
.more-btn {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

.label {
    padding: 8px;
    font-size: 1.3em;
}

.account-item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.more-btn {
    padding: 8px;
    font-size: 1.4em;
    color: #fe2c55;
    cursor: pointer;
}
