.label,
.more-btn {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

.label {
    padding: 8px 8px 0px;
    font-size: 20px;
    font-weight: 600;
}

.account-item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.more-btn {
    padding: 0px 8px 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fe2c55;
    cursor: pointer;
}
