.action-btn {
    position: relative;
    display: flex;
    font-size: 24px;
    color: #161823;
    background-color: transparent;
    padding: 8px;
}

.badge {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border: 2px solid var(--white);
}
