.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    user-select: none;
    border-radius: 0.25rem;
    min-width: 100px;
    padding: 0.75rem 1rem;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: var(--font-family);
}

.btn.disabled {
    pointer-events: none;
    opacity: 0.6;
}

/* Icons */
.icon {
    display: inline-flex;
    width: 1.5rem;
    text-align: center;
}

.icon + .title,
.title + .icon {
    margin-left: 0.5rem;
}

/* Variants */
.primary {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.outline {
    color: var(--primary);
    background-color: white;
    border-color: var(--primary);
}

/* Rounded */
.rounded {
    border-radius: 9999px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-color: rgba(22, 24, 35, 0.12);
}

/* Sizes */
.small {
    font-size: 0.875rem;
    line-height: 1.5;
    min-width: 55px;
    padding: 0.25rem;
}

.large {
    font-size: 1.125rem;
    min-width: 140px;
    padding: 0.75rem 1rem;
}
