.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 8px;
}

.badge {
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 0px 6px;
    height: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 2px solid var(--white);
}
