.wrapper {
    border-top: 1px solid #e3e3e4;
}

.label,
.item-info,
.more-btn {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

.label {
    padding: 8px;
    font-size: 1.4em;
}

.account-item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    @media (min-width: 1024px) {
        margin: 0;
    }
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6em;
    color: #161823;
}

.name {
    font-size: 1.2em;
    opacity: #161823bf;
}

.more-btn {
    padding: 8px;
    font-size: 1.4em;
    color: #fe2c55;
    cursor: pointer;
}
