.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.2rem;
    line-height: 1.5;
    padding: 12px 8px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .action-icon {
            display: flex;
        }
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
}

.icon,
.action-icon {
    font-size: 24px;
}

.action-icon {
    display: none;
}
