@reference "tailwindcss";

.wrapper {
    @apply flex items-center cursor-pointer hover:bg-[var(--primary)] p-1 px-2 hover:text-white;
}

.info {
    @apply truncate px-3;
}
.name {
    font-size: 1.4rem;
}

.check {
    margin-left: 6px;
}
.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
