.wrapper {
    --search-border-radius: 92px;
    --search-padding-x: 2px;
    --search-btn-size: 32px;
    --search-top-spacer: 5px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 16px;
    height: var(--default-layout-height);
}

//Actions
.more-btn {
    display: flex;
    font-size: 2rem;
    margin-left: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #e5e7eb;
    }
}
