.wrapper {
    --search-border-radius: 92px;
    --search-padding-x: 2px;
    --search-btn-size: 32px;
    --search-top-spacer: 5px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 16px;
    height: var(--default-layout-height);
}

//Actions
.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    cursor: pointer;
}
