.wrapper {
    --search-border-radius: 92px;
    --search-padding-x: 2px;
    --search-btn-size: 32px;
    --search-top-spacer: 5px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 16px;
    height: var(--default-layout-height);
}

.inner {
    width: 15rem;
    height: 100%;

    .logo img {
        height: 42px;
        margin-left: 8px;
    }
}

.actions {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 25px;
    padding-right: 16px;
}

//Actions
.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    cursor: pointer;
}
