.container {
    height: 720px;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    border-radius: 0.375rem;
    padding: 16px 40px;
}

.title {
    font-size: 23px;
    font-weight: 600;
}

.subtitle {
    color: #9ca3af;
    margin-top: 0.25rem;
}

.content {
    margin-top: 8px;
    display: flex;
    gap: 1.5rem;
}

/* Upload Area */
.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    height: 470px;
    margin: 1rem 0 1.5rem;
    padding: 0.75rem;
    border: 2px dashed #d1d5db;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.uploadIcon {
    color: #b3b3b1;
}

.uploadTitle {
    margin-top: 1rem;
    font-size: 17px;
}

.uploadSubtitle {
    margin-top: 0.375rem;
    color: #6b7280;
    font-size: 13px;
}

.uploadInfo {
    margin-top: 3rem;
    color: #9ca3af;
}

.uploadInfo p {
    font-size: 0.875rem;
}

.uploadInfo p:not(:first-child) {
    font-size: 13px;
}

.uploadButton {
    width: 80%;
    margin-top: 2rem;
    padding: 0.375rem 0.5rem;
    border-radius: 0.125rem;
    font-size: 15px;
    color: white;
    background-color: #f12b56;
    cursor: pointer;
}

/* Preview Area */
.previewContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    height: 540px;
    margin: 1rem 0 3rem;
    padding: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
}

.uploadingOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.uploadingContent {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.uploadingText {
    color: white;
    font-weight: 700;
}

.video {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
}

.cancelButton {
    position: absolute;
    bottom: -3rem;
    z-index: 50;
    display: flex;
    justify-content: center;
    gap: 8rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.75rem;
}

.fileInfo {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileName {
    padding-left: 0.25rem;
    overflow: hidden;
    font-size: 11px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.cancelText {
    margin-left: 0.5rem;
    font-size: 11px;
    font-weight: 600;
    color: #f12b56;
}

/* Edit Section */
.editSection {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.editBox {
    display: flex;
    background-color: #f8f8f8;
    padding: 1rem 1.5rem;
}

.editIcon {
    margin-right: 1rem;
    margin-top: 0.125rem;
}

.editContent {
    flex: 1;
}

.editTitle {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0.375rem;
}

.editDescription {
    font-weight: 600;
    font-size: 13px;
    color: #9ca3af;
}

.editButtonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 130px;
    margin: auto 0;
}

/* Caption Section */
.captionSection {
    margin-top: 1.25rem;
}

.captionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.captionLabel {
    font-size: 15px;
}

.captionCounter {
    font-size: 12px;
    color: #9ca3af;
}

.captionInput {
    width: 100%;
    border: 1px solid #d1d5db;
    padding: 0.625rem;
    border-radius: 0.375rem;
}

/* Action Buttons */
.actionButtons {
    margin-top: 2rem;
    display: flex;
    gap: 0.75rem;
}

/* Error Message */
.errorMessage {
    color: #dc2626;
    margin-top: 1rem;
}
