.wrapper {
    &:hover .content {
        display: block;
    }
}

.content {
    display: none;
    position: absolute;
    color: white;
    font-weight: bold;
    background: var(--black);
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
}

.arrow {
    position: absolute;
    background: var(--black);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
