@import 'tailwindcss';

@theme {
	--color-primary: #fe2c55;
	--color-primary-hover: #d02648;
	--color-text: #161823;
}

:root {
	--font-family: 'Roboto', sans-serif;
}

*, *::before, *::after { box-sizing: border-box; }

body {
	margin: 0;
	overflow: hidden;
	font-family: var(--font-family);
	font-size: 16px;
	color: var(--text-color);
	line-height: 1.5;
}

::-webkit-scrollbar { width: 0; }

h1, h2, h3, h4, h5, h6 { font-family: var(--font-family); font-weight: 700; line-height: 1.2; }
button { font-family: var(--font-family); cursor: pointer; }
