@import 'tailwindcss';

/* CSS Variables */
:root {
    /* Colors */
    --primary: #fe2c55;
    --text-color: #161823;

    /* Typography */
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 16px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

/* Reset */
* {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 0;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    line-height: 1.5;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
}

/* Global Elements */
button {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

p {
    font-family: var(--font-family);
    line-height: 1.5;
}
