@import 'tailwindcss';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --text-rose: #f43f5e; /* rose-500 */
    --font-family: 'Roboto', sans-serif;
    --default-layout-height: 69px;
    --default-layout-width: 960px;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
}

button {
    cursor: pointer;
}

h1 {
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}
