:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-family: 'Roboto', sans-serif;
    --default-layout-height: 69px;
    --default-layout-width: 960px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    margin: 0;
}

// Scrollbar
::-webkit-scrollbar {
    width: 0;
}

button {
    cursor: pointer;
}

input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tooltip-arrow {
        background: #333;
    }

    .tooltip-content {
        padding: 8px 9px;
        border-radius: 8px;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background: #333;
    }
}
