.wrapper {
    position: fixed;
    width: 10%;
    padding: 7px 0px;
    @media (min-width: 1024px) {
        width: 356px;
    }
}

.footer {
    font-size: 14px;
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}
