.wrapper {
    position: fixed;
    padding-top: 7px;
    @media (min-width: 1024px) {
        width: 256px;
    }
}

.footer {
    font-size: 14px;
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}
